<meta name="theme-color" content="{{ $.Site.Params.themeColor }}">
<link rel="manifest" crossorigin="use-credentials" href="{{ "site.webmanifest" | absURL }}">

<link rel="shortcut icon" href="{{ "favicon.ico"  | absURL }}"/>

<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{ "favicon.ico" | absURL }}">

<link rel="apple-touch-icon" sizes="152x152" href="{{ "favicon-152-precomposed.png" | absURL }}">

<link rel="apple-touch-icon" sizes="144x144" href="{{ "favicon-144-precomposed.png" | absURL }}">

<link rel="apple-touch-icon" sizes="120x120" href="{{ "favicon-120-precomposed.png" | absURL }}">

<link rel="apple-touch-icon" sizes="114x114" href="{{ "favicon-114-precomposed.png" | absURL }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon-180-precomposed.png" | absURL }}">

<link rel="apple-touch-icon" sizes="72x72" href="{{ "favicon-72-precomposed.png" | absURL }}">

<link rel="apple-touch-icon" sizes="57x57" href="{{ "favicon-57.png" | absURL }}">

<link rel="icon" sizes="32x32" href="{{ "favicon-32.png" | absURL }}" >

<link rel="icon" sizes="192x192" href="{{ "favicon-192.png" | absURL }}">
